[Unit]
Description=Trumpy Bear Login
After=trumpybear.service
[Service]
ExecStart=/usr/local/lib/tblogin/tblogin.sh
Restart=on-abort

[Install]
#After=xdg-desktop-autostart.target
WantedBy=trumpybear.service
